name: model-lineaire
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          # Pull data with DVC & repo pipeline
          dvc pull
          dvc repo
          
          # Your ML workflow goes here
          pip install -r requirements.txt
          python train.py
          
          # Write your CML report
          echo "## Metriques:" >> report.md
          cat metrics.txt >> report.md
