name: model-lineaire
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          # Pull data from DVC to github for train 
          dvc pull winequality-red.csv
          
          # Your ML workflow goes here
          pip install -r requirements.txt
          python train.py
          
          # pull model on local workspace for dockerization
          dvc add linear_model.pkl
          
          
          # Write your CML report
          echo "## Metriques:" >> report.md
          cat metrics.txt >> report.md
